/* app/globals.css */

/* 默认浅色模式 */
body.light-mode {
  background-color: white;
  color: black;
}

/* 深色模式 */
body.dark-mode {
  background-color: #121212;
  color: white;
}

/* 如果有其他特定样式需要调整，可以在这里增加 */
